<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Alien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,50}</string>
                <key>spriteSourceSize</key>
                <string>{35,50}</string>
                <key>textureRect</key>
                <string>{{62,0},{35,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Polizist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,74}</string>
                <key>spriteSourceSize</key>
                <string>{62,74}</string>
                <key>textureRect</key>
                <string>{{102,314},{62,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slayer_man.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,90}</string>
                <key>spriteSourceSize</key>
                <string>{62,90}</string>
                <key>textureRect</key>
                <string>{{164,314},{62,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slayer_woman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,74}</string>
                <key>spriteSourceSize</key>
                <string>{62,74}</string>
                <key>textureRect</key>
                <string>{{40,314},{62,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Trump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{0,314},{40,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wiesnbiatch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,70}</string>
                <key>spriteSourceSize</key>
                <string>{41,70}</string>
                <key>textureRect</key>
                <string>{{193,244},{41,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beil.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,52}</string>
                <key>textureRect</key>
                <string>{{97,0},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bloodcubeA2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{128,180},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bloodcube_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{129,244},{64,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bloodcube_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{64,244},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bloodcube_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{64,180},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,52}</string>
                <key>textureRect</key>
                <string>{{159,0},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clues2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{0,52},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clues2b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{65,52},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,44}</string>
                <key>spriteSourceSize</key>
                <string>{62,44}</string>
                <key>textureRect</key>
                <string>{{0,0},{62,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isocube.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{65,116},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{130,116},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>othercube.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{130,52},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slayer_cage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,180},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{0,116},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>woman_cage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,244},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>allcube.png</string>
            <key>size</key>
            <string>{234,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9d9be73e2836e08350e6e195083c194:a40336b87ca7a0b009ec6dec6a60532b:0ec28428e77cfee7b765feb883a403c8$</string>
            <key>textureFileName</key>
            <string>allcube.png</string>
        </dict>
    </dict>
</plist>
